version: '3.4'

services:
  db:
    image: postgres:latest
    hostname: db
    environment:
      - POSTGRES_PASSWORD=123
      - POSTGRES_USER=admin
      - POSTGRES_DB=rinha
    ports:
      - "5432:5432"
    volumes:
      - ./ddl.sql:/docker-entrypoint-initdb.d/ddl.sql
    deploy:
      resources:
        limits:
          cpus: '0.1'
          memory: '0.65GB'

  api01:
    image: pedrosakuma/rinhabackend
    depends_on:
      - db
    environment:
      - DB_CONNECTION_STRING=Host=db;Username=admin;Password=123;Database=rinha;
      - Logging__LogLevel__Default=Warning
      - ASPNETCORE_URLS=http://+:8080;https://+:8443
      - ASPNETCORE_HTTP_PORTS=8080 
      - ASPNETCORE_HTTPS_PORTS=443 
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - APP_NAME=api01
      - GRPC_CHANNEL=https://api02:8443
    deploy:
      resources:
        limits:
          cpus: '0.6'
          memory: '0.9GB'
  api02:
    image: pedrosakuma/rinhabackend
    depends_on:
      - db
    environment:
      - DB_CONNECTION_STRING=Host=db;Username=admin;Password=123;Database=rinha;
      - Logging__LogLevel__Default=Warning
      - ASPNETCORE_URLS=http://+:8080;https://+:8443
      - ASPNETCORE_HTTP_PORTS=8080 
      - ASPNETCORE_HTTPS_PORTS=443 
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - APP_NAME=api02
      - GRPC_CHANNEL=https://api01:8443
    deploy:
      resources:
        limits:
          cpus: '0.6'
          memory: '0.9GB'
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api01
      - api02
    ports:
      - "9999:9999"
    ulimits:
      nproc: 1000000
      nofile:
        soft: 1000000
        hard: 1000000
    deploy:
      resources:
        limits:
          cpus: '0.2'
          memory: '0.55GB'

networks:
  default:
    driver: bridge
    name: rinha